<nav id="sidebar" style="min-height: 100%" [class.active]="showSidepanel">
    <!--<div class="sidebar-header">
        <h3>Menu</h3>
    </div>-->
    <ul class="list-unstyled components">
        <li class="active">
            <a href="#customerSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customer</a>
            <ul class="collapse list-unstyled" id="customerSubmenu">
                <li>
                    <a [routerLink]="['/customerlist']">List Customer</a>
                </li>
                <li>
                    <a [routerLink]="['/newcustomer']">New Customer</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Extra</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Extra</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>