<div class="card w-100">
    <div class="card-body">
        <h5 class="card-title">Customer</h5>
        <form (ngSubmit)="onClickme()" autocomplete="off">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputName">Name(Customer Id)</label>
                    <input type="text" class="form-control" placeholder="Name" [(ngModel)]="customer.name" name="name">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputPhoneNumber">Phone Number</label>
                    <input type="text" class="form-control" placeholder="Phone Number"
                        [(ngModel)]="customer.phonenumber" name="phonenumber">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputGender">Gender</label>
                    <select id="inputGender" class="form-control" [(ngModel)]="customer.gender" name="gender">
                        <option selected value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address"
                        [(ngModel)]="customer.address" name="address">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCity">City</label>
                    <input type="text" class="form-control" id="inputCity" placeholder="City"
                        [(ngModel)]="customer.city" name="city">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputState">State</label>
                    <select id="inputState" class="form-control" [(ngModel)]="customer.state" name="state">
                        <option selected>Tamil Nadu</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputRelation">Relation</label>
                    <select id="inputState" class="form-control" >
                        <option >Select Relations</option>
                        <option >Son</option>
                        <option >Daughter</option>
                        <option >Father</option>
                        <option >Mother</option>
                        <option >Sister</option>
                        <option >Brother</option>
                        <option >Wife</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputState">Customer Id</label>
                    <select id="inputState" class="form-control" >
                        <option >Select CustomerId</option>
                        <option >Harish</option>
                        <option >Jagan</option>
                        <option >Mega</option>
                        <option >Sabari</option>                        
                        <option >Sathish</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
<app-hs-male-measurement *ngIf="customer.gender == 'male'"></app-hs-male-measurement>
<app-hs-female-measurement *ngIf="customer.gender == 'female'"></app-hs-female-measurement>
<button type="submit" class="btn btn-primary">Submit</button>