<nav class="navbar navbar-expand-lg navbar-light bg-light shadow p-0">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info" (click)="sidebarToggle()">
            <i class="fas fa-align-left"></i>
        </button>
        <a class="navbar-brand" href="#">
            <img src="../assets/images/logo.png" width="30" height="30" alt="">Smart Tailors
        </a>        
        <app-hs-breadcrumb></app-hs-breadcrumb>
        <!--<app-hs-notification></app-hs-notification>-->
        <form class="form-inline">
            <div class="input-group">            
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Customer" aria-label="customer" aria-describedby="basic-addon1">
            </div>
        </form>
    </div>
</nav>